<ion-header>

  <ion-navbar>
    <ion-title>Food Diary</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-fab bottom right >
    <button ion-fab mini color="secondary" (click)="openMenu()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ng-container *ngFor="let food of foodDiary">
    <ion-card *ngIf="food.patient==personData.id">
      <ion-item-divider color="light">Food</ion-item-divider>
      <img class="img-circle" height="200" width="200" src={{food.highres}}/>
      <ion-item>Name: {{food.name}} </ion-item>
      <ion-item>Serving Quantity: {{food.servingQuantity}}</ion-item>
      <ion-item>Serving Size: {{food.servingUnit}}</ion-item>
      <ion-item>Calories: {{food.calories}} </ion-item>
      <ion-item>Total Fats: {{food.totalFats}}g</ion-item>
      <ion-item>Carbohydrates: {{food.carbs}}g</ion-item>
      <ion-item>Protein: {{food.protein}}g</ion-item>
      <ion-item>Sodium: {{food.sodium}}mg</ion-item>
      <ion-item>Date: {{food.datetime}}</ion-item>
    </ion-card>
  </ng-container>

</ion-content>
