<ion-header>
  <ion-navbar>
    <ion-title>
      Medical History
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card class="item-text-wrap" *ngFor="let docs of documents">

    <ng-container *ngFor="let doctor of doctors">
    <ion-item text-wrap *ngIf="docs.doctor==doctor.id && docs.patient==personData.id">
      <h2><strong>Practitioner Name:</strong>{{doctor.prefix+ " "+
        doctor.firstname + " " + doctor.lastname}}</h2>
      <h2><strong>Role: </strong> {{doctor.specialty}}</h2>
      <p><strong>Date Added:</strong>{{docs.date}}</p>
      <p><strong>Description:</strong>{{docs.description}}</p>
    </ion-item>
    </ng-container>

  </ion-card>

</ion-content>
