<ion-header>
  <ion-navbar>
    <ion-title>
      Lyff
    </ion-title>
  </ion-navbar>
  <page-search></page-search>
</ion-header>


<ion-content>
  <ion-card (click)="viewDetails()">

    <ion-item *ngFor="let user of user">
      <ion-avatar item-left>
        <img src="{{user.profile_pic}}">
      </ion-avatar>
      <h2>{{user.full_name}}</h2> <ion-badge item-right color="danger">{{user.condition}}</ion-badge>
      <p>Age: {{user.age}} years old</p>
    </ion-item>

    <ion-list>
      <ion-item-group>
        <ion-item-divider color="light">Seen by</ion-item-divider>
        <ion-item *ngFor="let doctor of doctor">{{doctor.name}}</ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider color="light">Medications given</ion-item-divider>
        <ion-item *ngFor="let medication of medication">{{medication.name}}</ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider color="light">Symptoms</ion-item-divider>
        <ion-item *ngFor="let symptom of symptom">{{symptom.name}}</ion-item>
      </ion-item-group>
    </ion-list>

  </ion-card>

</ion-content>
