<ion-header>
  <ion-navbar>
    <page-search></page-search>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let pat of patient">

    <ion-item  (click)="viewDetails(pat)">
      <ion-avatar item-left>
        <img src="{{pat.photo}}">
      </ion-avatar>
      <h2>{{pat.firstname+" "+ pat.lastname}}</h2> <ion-badge item-right color="danger">{{pat.status}}</ion-badge>
      <p>Age: {{pat.age}} years old</p>
    </ion-item>

    <ion-list>
      <ion-item-group>
        <ion-item-divider color="light">Last Seen by</ion-item-divider>
        <ng-container *ngFor="let docs of doctors">
        <ion-item *ngIf="pat.lastseen==docs.id">{{docs.prefix+" "+ docs.firstname+ " " + docs.lastname}}</ion-item>
      </ng-container>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider color="light">Medications Given</ion-item-divider>
        <ng-container *ngFor="let med of medications">
        <ion-item *ngIf="pat.id==med.patient">{{med.medication}}</ion-item>
      </ng-container>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider color="light">Symptoms</ion-item-divider>
        <ng-container *ngFor="let symp of symptoms">
        <ion-item *ngIf="pat.id==symp.patient">{{symp.symptom}}</ion-item>
      </ng-container>
      </ion-item-group>
    </ion-list>

  </ion-card>

</ion-content>
