<ion-header>
  <ion-navbar>
    <ion-title>
      Patient details
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-avatar item-left>
        <img src={{personData.photo}}>
      </ion-avatar>
      <h2>{{personData.firstname + " " +personData.lastname}}</h2>
      <p>Age: {{personData.age}}</p>
      <p>Weight: {{personData.weight + "lbs"}}</p>
      <ion-badge item-right color="danger">{{personData.status}}</ion-badge>

    </ion-item>
  </ion-card>
  <ion-fab bottom right>
    <button ion-fab mini (click)="openMenu()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-card>

    <ion-list>
      <ion-item-divider color="light">Patient Information</ion-item-divider>
        <button ion-item (click)="reasonForVisit()">
          <ion-icon name="ios-clipboard" item-left></ion-icon>
          Reason for Visit
        </button>

        <button ion-item (click)="medicalHistory()">
          <ion-icon name="ios-book" item-left></ion-icon>
          Medical History
        </button>

      <button ion-item (click)="dietRestriction()">
        <ion-icon name="ios-pizza" item-left></ion-icon>
        Diet Restriction
      </button>

      <button ion-item (click)="nutritionGuide()">
        <ion-icon name="ios-beer" item-left></ion-icon>
        Nutrition Guide
      </button>

        <button ion-item (click)="medicationGiven()">
          <ion-icon name="ios-medkit" item-left></ion-icon>
          Medications Given
        </button>

        <button ion-item (click)="testPerformed()">
          <ion-icon name="ios-cog" item-left></ion-icon>
          Tests Performed
        </button>

    </ion-list>
  </ion-card>

  <ion-card>
    <ion-item-divider color="light">Healthcare Team:</ion-item-divider>

    <ng-container *ngFor="let docs of doctors">
    <button ion-item *ngIf="docs.patient==personData.id">
    <ion-icon name="ios-contact" item-left></ion-icon>
      {{docs.doctor}}
    </button>
  </ng-container>
  </ion-card>
</ion-content>
